  .table-getStarting {
    background-color: #007bff;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
  }
  .modal-content{
    margin-top: 150px;
  }
.modal-backdrop.show{
  opacity: 0.5;
  width:1px;
  height:1px;

}
.label-batch{
  padding-right: 10px;
  margin-left: 10px;
}
.select-batch{
  width:180px;
  height:30px;
}
.modal-title{
  text-align: center;
  color: #1aa3ff;
}
.inPut-Batch{
  height:30px;
  width:200px;
}
h3 {
  color: #007bff;
  text-align: center;
  text-transform: uppercase;
}
h4{
  color: #007bff;
  text-align: center;
  text-transform: uppercase;
}
.btn-batch{
  width: 120px;
  margin-left: 20px;
}
.batch{
  padding-top:35px;
}