.inputText{
    margin-left:10px;
    width:200px;
    height:30px;
  }
  .table-getStarting {
    background-color: #007bff;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
  }
  .modal-content{
    margin-top: 150px;
  }
.modal-backdrop.show{
  opacity: 0.5;
  width:1px;
  height:1px;

}
.label-batch{
  padding-right: 20px;
}
.select-batch{
  width:150px;
}
.modal-title{
  text-align: center;
  color: #1aa3ff;
}